<div class="container">
   <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
         <!-- Nested Row within Card Body -->
         <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
               <div class="p-5">
                  <div class="text-center">
                     <h1 class="h4 text-gray-900 mb-4">{{title}}</h1>
                  </div>
                  <form class="user" #employeeForm="ngForm" (ngSubmit)="submit(employeeForm)">
                     <div class="form-group">
                        <input [class.is-invalid]="name.invalid && name.touched" #name="ngModel" required type="text"
                           class="form-control form-control-user" id="name" [(ngModel)]="employee.employee_name"
                           placeholder="Name" name="name">
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is
                           Required</small>
                     </div>
                     <div class="form-group">
                        <input type="number" [class.is-invalid]="salary.invalid && salary.touched" #salary="ngModel"
                           required [(ngModel)]="employee.employee_salary" name="salary"
                           class="form-control form-control-user" id="salary" placeholder="Salary">
                        <small class="text-danger" [class.d-none]="salary.valid || salary.untouched">Salary is
                           Required</small>
                     </div>
                     <div class="form-group">
                        <input type="number" [class.is-invalid]="age.invalid && age.touched" #age="ngModel"
                           [(ngModel)]="employee.employee_age" required name="age"
                           class="form-control form-control-user" id="age" placeholder="Age">
                        <small class="text-danger" [class.d-none]="age.valid || age.untouched">Age is
                           Required</small>
                     </div>
                     <hr>
                     <button *ngIf="!employeeId" [disabled]="employeeForm.invalid"
                        class="btn btn-primary btn-user btn-block" type="submit">
                        Create Employee</button>
                     <button *ngIf="employeeId" [disabled]="employeeForm.invalid"
                        class="btn btn-primary btn-user btn-block" type="submit">
                        Edit Employee</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>